<section class="col-quarter">
    <h4>{{author.firstName}} {{author.lastName}}</h4>
    <h4>Rating: {{rating}}/10 </h4>
    <h4>Review: {{userReviews}}</h4>
    <label>Upvote
        <button onclick="actOnPost(event);" type="button" data-post-id="{{this.rid}}" class='upvote'><img data-post-id="{{this.rid}}" class="upvote" src="../up.png" alt="upvote"/></button> <span id='likes-count-{{this.rid}}'>{{this.upvotes}}</span> 
    </label>
    <label>Downvote 
        <button type="button" onclick="actOnPost(event);" data-post-id="{{this.rid}}" class="downvote"><img data-post-id="{{this.rid}}" class="downvote" src="../down.png" alt="downvote"/></button> <span id="dislikes-count-{{ this.rid }}">{{this.downvotes}}</span>
    </label>
    <h5>Comments</h5>
    {{#if ../loggedin}}
        <form action="/games/{{../url}}/comment" method="POST">
            <label><input type="text" name='comment' placeholder="comment..."/></label>
            <input type="text" name='rid' value="{{this.rid}}" class='rid'/>
            <button type="submit" >Submit Comment</button>
        </form>
    {{/if}}
    {{#each comments}}
        <p>{{this.author.firstName}} {{this.author.lastName}}</p>
        <p>{{this.comment}}</p>
    {{/each}}
</section>