{{#if log}}

<div>

    <dt>ID</dt>

    <dd>{{_id}}</dd>

    <dt>First Name</dt>

    <dd>{{firstName}}</dd>

    <dt>Last Name</dt>

    <dd>{{lastName}}</dd>

    <dt>Profession</dt>

    <dd>{{Profession}}</dd>

    <dt>Biography</dt>

    <dd>{{Bio}}</dd>

</div>



<a href="http://localhost:3000/logout"> logout </a>

{{else}}

<h1> You are not logged in</h1>

{{/if}}