<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/games">Games</a></li>
		{{#if loggedin}}
			<li><a href='/user'>{{currentUser}}</a></li>
            <li><a href="/logout">Log Out</a></li>
			{{else}}
			<li><a href="/login">Sign In</a></li>
		{{/if}}
    </ul>
</nav>
<section>
    {{#each game}}
        <img src="{{gameIcon}}" class="image" alt="{{nameOfGame}}"/>
        <h2><a href="/games/{{loud nameOfGame}}">{{nameOfGame}}</a></h2>
    {{/each}}
</section>
