{{> navbar}}
<section>
    <img src="../{{game.gameIcon}}" class="reviewImage"/>
    <h1>{{game.nameOfGame}}</h1>
    <h2>{{avgRating}}/10</h2>
    <h2>Reviews</h2>
    <form id='new-review'>
        <label>Rating: <input type="number" id='rating' max="10" min="1"/></label>
        <br>
        <label>Review 
            <textarea id='review' rows="8" cols="30"></textarea>
        </label>
        <input type="submit" value="Submit Review!"/>
    </form>
    <div class="reviewRow" id="review-area">
        {{#each reviews}}
            <section class="col-quarter">
                <h3>{{this.author.firstName}} {{this.author.lastName}}</h3>
                <h3>Rating: {{this.review.rating}}/10 </h3>
                <h3>Review: {{this.review.userReviews}}</h3>
                <p>
                    <label for='upvote'>Upvote</label>
                    <button type="button" value="{{this.rid}}" id='upvote'><img class="updown" src="../up.png"/></button> <span id='up'>{{this.upvotes}}</span> <label for="downvote">Downvote </label><button type="button" id="downvote"> <img class="updown" src="../down.png"/></button> <span id="down">{{this.downvotes}}</span>
                </p>
                <h4>Comments</h4>
                {{#if ../loggedin}}
                    <form id='new-comment' action="/games/{{../url}}/comment" method="POST">
                        <label><input type="text" name='comment' placeholder="comment..."/></label>
                        <input type="text" name='rid' value="{{this.rid}}" class='rid'/>
                        <input type="submit" value="Submit Comment"/>
                    </form>
                {{/if}}
                {{#each comments}}
                    <p>{{this.author.firstName}} {{this.author.lastName}}</p>
                    <p>{{this.comment}}</p>
                {{/each}}
            </section>
        {{/each}}
        {{#if author}}
            {{> review}}
        {{/if}}
    </div>
</section>