<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/games">Games</a></li>
		{{#if loggedin}}
			<li><a href='/user'>{{currentUser}}</a></li>
			{{else}}
			<li><a href="/login">Sign In</a></li>
		{{/if}}
    </ul>
</nav>
<section>
    <img src="../{{game.gameIcon}}" class="reviewImage"/>
    <h1>{{game.nameOfGame}}</h1>
    <h2>{{avgRating}}/10</h2>
    <h2>Reviews</h2>
    <div class="reviewRow">
        {{#each reviews}}
            <section class="col-quarter">
                <h4>{{this.author.firstName}} {{this.author.lastName}}</h4>
                <h4>{{this.review.rating}}/10 {{this.review.userReviews}}</h4>
                <p><img class="updown" src="../up.png"/> {{this.upvotes}} <img class="updown" src="../down.png"/> {{this.downvotes}}</p>
                <h5>Comments</h5>
                {{#each comments}}
                    <p>{{this.author.firstName}} {{this.author.lastName}}</p>
                    <p>{{this.comment}}</p>
                {{/each}}
            </section>
        {{/each}}
    </div>
</section>