{{> navbar}}
<div class="searchbar">
	<form action="/searchresults" method="POST">
		<label for="input"> Search for a game: </label>
		<input type="text" name="text-to-test" placeholder="search" value="" id="input" size="50"/>
		<button type="submit">Search</button>
	</form>
</div>
<div class="content">
	{{#if noInput}}
	<p class="error"> Error 400: Input is missing</p>

	{{else}}
	{{#if resultsFound}}
	
		{{#each gamesList}}
		<h1>{{this.fullName}}</h1>
		<a href="/games/{{this.nameURL}}">
			<img class="image" src="{{this.gamePhoto}}" alt="{{this.fullName}}"/>
		</a>
		{{/each}}

	{{else}}
	<p>No games found.</p>
	{{/if}}
	{{/if}}
</div>