{{> navbar}}
{{#if error}}
    <h2>{{etext}}</h2>
{{else}}
    <div class="profile">
     {{!-- <h2>Hey!</h2> --}}
        <img src="../{{profilePic}}" class="profile" alt="{{firstName}}"/>
        <h2 class='profile-text'>{{firstName}} {{lastName}}</h2>
        <h2 class='profile-text'>{{email}}</h2>
        <section id="edit">
            <button class='edit' type="button">Edit Profile</button>
        </section>
    </div>

    <h2>Previous Posts</h2>
    {{#each posts}}
        <section class="reviews">
            <h3><a href="/games/{{loud gameId}}">{{gameId}}</a></h3>
            <p>{{rating}} {{userReviews}}</p>
        </section>
    {{/each}}
{{/if}}
