<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/games">Games</a></li>
		{{#if loggedin}}
			<li><a class="active" href='/user/{{userID}}'>{{currentUser}}</a></li>
            <li><a href="/logout">Log Out</a></li>
			{{else}}
			<li><a href="/login">Sign In</a></li>
		{{/if}}

	</ul>
</nav>
{{#if flag}}
    <h2>{{error}}</h2>
{{else}}
    <div class="profile">
        <img src="../{{profilePic}}" class="profile" alt="{{firstName}}"/>
        <h3>{{firstName}} {{lastName}}</h3>
        <h3>{{email}}</h3>
        <section id="edit">
            <button class='edit' type="button">Edit Profile</button>
        </section>
    </div>

    <h2>Previous Posts</h2>
    {{#each posts}}
        <section class="reviews">
            <h3><a href="/games/{{gameId}}">{{gameId}}</a></h3>
            <p>{{rating}} {{userReviews}}</p>
        </section>
    {{/each}}
{{/if}}
